.bookshelf {
  padding: 0 10px 20px;
  flex: 1;
}
.bookshelfTitle {
  border-bottom: 1px solid #dedede;
}

.bookshelfBooks {
  text-align: center;
}

.booksGrid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.booksGrid li {
  padding: 10px 15px;
  text-align: left;
}
